*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    margin: 0 auto;
}
body{
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
}
header{
    min-width: 310px;
    max-width: 2440px;
    height: auto;
    background-color: rgb(9, 255, 0);
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
header nav{
    width: 100%;
}
header nav ul{
    min-width: 320px;
    max-width: 1440px;
    height: auto;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
header nav ul li{
    margin: 6px 0; 
}
header nav ul li a{
    text-decoration: none; 
    color: rgb(0, 12, 187); 
    text-shadow: -1px 0px 3px rgb(5, 150, 0);
}
header div{
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
}
header div img{
    margin: 0 auto;
    min-width: 160px;
    max-width: 512px;
    min-height: 100px;
    max-height: 100px;
}

/* -----------------------------Creacion del slide en galeria----------------------------------- */

.Galeria-slider-frame{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
.Galeria-slider-frame ul{
    display: flex;
    padding: 0;
    width: 400%;
    margin-top: 2rem;

    animation: slide 20s infinite alternate ease-in-out;
}
.Galeria-slider-frame li{
    width: 100%;
    list-style: none;
}
.Galeria-slider-frame img{
    width: 100%;
    border-radius: 15px;
    border: solid #141414;
}
@keyframes slide{

    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

/* --------------------------Seccion de informacion de la empresa-----------------------*/


.Contenedor-info{
    background-color: #ffffffd7;
}
.Contenedor-info div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border-radius: solid black 15px;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: center;
    overflow: hidden;
}

.Contenedor-info div h1{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: cornflowerblue;
  padding: 1rem 1rem 1rem 1rem;
  overflow-wrap: break-word;
  margin-top: 4rem;
  margin-bottom: 3rem;
  width: 100%;
}
.Contenedor-info div h2, h3{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #dee433;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  overflow-wrap: break-word;
  text-align: center;
  font-size: 30px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.Contenedor-info p{
    font-size: 20px;
    text-align: justify;
    border-radius: 20px;
    border: solid #dddddd;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;
    line-height: normal;
}


/* ------------------------Seccion de Servicos--------------------------------------------------------- */

#titulo-4{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: cornflowerblue;
  padding: 1rem 1rem 1rem 1rem;
  overflow-wrap: break-word;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#titulo-4 h4{
  text-align: center;
  font-size: 30px;
}
.contenedor-servicios{
    margin: 0 auto;
    width: 98%;
    height: auto;

    display: grid;
    gap: 6px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.contenedor-servicios div{
    padding: 3px;
    background-color: cadetblue;
    border-radius: 6px;
    text-align: center;
}
.contenedor-servicios div p{
    font-size: 1rem;
    text-shadow: 0px 0px 2px #ffffff;
}
.contenedor-servicios div img{
    width: 90%;
    height: 70%;
    margin: 1rem 0;
    object-fit: contain;
    filter: drop-shadow(1px 1px 3px #243B3C)
}
/* -------------------------------------Seccion de socias----------------------- */
.contenedor-u-socias {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.3fr 2fr 0.3fr 2.1fr;
    gap: 12px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "contenedor-titulo contenedor-titulo contenedor-titulo"
    "contenedor-titulo-coop contenedor-titulo-coop contenedor-titulo-coop"
    "contenedor-img-coop contenedor-img-coop contenedor-img-coop"
    "contenedor-titulo-cajas contenedor-titulo-cajas contenedor-titulo-cajas"
    "contenedor-img-cajas contenedor-img-cajas contenedor-img-cajas";
}
  
.contenedor-titulo {
    width: 100%;
    height: auto;
    margin: 2rem auto;
    padding: 2rem;
    background-color: cornflowerblue;
    grid-area: contenedor-titulo;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.contenedor-titulo h5{
    font-size: 2rem;
}
.contenedor-titulo-coop {
    height: auto;
    margin: 0 auto;
    padding: 16px; 
    background-color: #dee433;
    grid-area: contenedor-titulo-coop;
    border-radius: 35px;
    border: solid 1px rgb(0, 0, 0);
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.contenedor-titulo-coop h6{
    font-size: 1.5rem;
    text-align: center;
}
.contenedor-img-coop {  
    width: 100%;
    height: auto;
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ".";
    grid-area: contenedor-img-coop;
    overflow: hidden;
}
.contenedor-img-coop ul{
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    animation: galeria-img-coop 30s 5s infinite alternate linear;
}
.contenedor-img-coop li{
    width: 260px;
    height: 200px;
    margin-left: 20px;
    margin-right: 100px;
    
    list-style-type: none;
}
.contenedor-img-coop img{
    width: 100%;
    height: 100%;
}


@keyframes galeria-img-coop{

    0%{transform: translateX(0%);}

    100%{transform: translateX(-90%);}
}

.contenedor-titulo-cajas { 
    height: auto;
    margin: 0 auto;
    padding: 16px; 
    background-color: #dee433;
    grid-area: contenedor-titulo-cajas;
    border-radius: 35px;
    border: solid 1px rgb(0, 0, 0);
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; 
}
.contenedor-titulo-cajas p{
    font-size: 1.5rem;
    text-align: center;
}
  
.contenedor-img-cajas{ 
    grid-area: contenedor-img-cajas;
    justify-items: start;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.contenedor-img-cajas ul{
    min-width: 4400px;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    animation: galeria-img-cajas 40s 10s infinite alternate linear;
}
.contenedor-img-cajas li{
    width: 300px;
    height: 200px;
    margin-left: 10px;
    margin-right: 100px;
    
    list-style-type: none;
}
.contenedor-img-cajas img{
    width: 100%;
    height: 100%;
}

@keyframes galeria-img-cajas{

    0%{transform: translateX(0%);}

    100%{transform: translateX(-100%);}
}